{% extends 'base.html' %}
{% block content %}
    <h1>Welcome to "{{ group.name }}"</h1>
    <h3>The Group Leader is: {{ group.leader }}</h3>
    <h3>Member Count: {{ group.members.count }}</h3>
    <h3>Date Created: {{ group.created_date }}</h3>
    {% if user.is_authenticated and group.leader == user %}
        <a href="{% url 'groups:delete' slug=group.slug %}" title="delete" class="btn btn-danger pull-right">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
        </a>
    {% endif %}

    {% if user in group.members.all %}
        <a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-outline-warning">Leave</a>
    {% else %}
        <a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-outline-warning">Join</a>
    {% endif %}
    <hr>
    {% if group.posts.count == 0 %}
        <h2 class="no_post">No posts in this group yet!</h2>
    {% else %}
        {% for post in group.posts.all %}
            {% include "posts/_post.html" %}
        {% endfor %}
    {% endif %}

{% endblock %}