html{
    background-color: #f1f1f1;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f1f1f1;
    color: #333;
    margin-bottom: 40px;
}

/* NavBar Styles */

.navbar{
    margin-bottom: 40px;
    border-bottom: 1px solid #bbb;
}

.navbar-brand {
    position: inherit;
    background: url(../img/logo.png) center center no-repeat;
    width: 150px;
    height: 40px;
    background-size: contain;
    margin-right: 50px;
}

.nav-link{
    color: #666;
    font-weight: 500;
}

.nav-link:hover{
    color: #b92b27;
}

.navbar-nav > .active > a{
    color: #b92b27;
}

.navbar .navbar-nav > li::after {
    content: '';
    display: block;
    width: 0;
    height: .2em;
    background: #b92b27;
    transition: 0.2s;
    margin-bottom: -12px;
}

.navbar .navbar-nav > li:hover::after, .navbar .navbar-nav > .active::after {
    width: 100%;
}

.nav-btn{
    margin-right: .5em;
}

.dropdown .dropdown-menu .dropdown-item{
    color: #666;
}

.dropdown .dropdown-menu .dropdown-item:hover, .dropdown .dropdown-menu .dropdown-item:active{
    color: #b92b27;
    background-color: #f1f1f1;
}